/* SAHNE */
html, body {
  height: 100%;
  margin: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
#stage {
  position: relative;
  width: 1920px;
  height: 1080px;
  background-image: url('img/bg.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/* 5 kolon guruplama */
#reels {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  gap: 24px;
}

/* her kolon alanı */
.reel-wrap {
  position: relative;
  width: 268px;
  height: 622px;
}

/* çerçeve */
.reel-frame {
  position: absolute;
  inset: 0;
  width: 268px;
  height: 622px;
  z-index: 1;
  pointer-events: none;
}

/* masklı reel penceresi */
.reel {
  --reelH: 622px;
  --symH: 182px;
  --symW: 116px;
  --gap: calc((var(--reelH) - 3 * var(--symH)) / 2); /* 38 */
  --step: calc(var(--symH) + var(--gap));            /* 220 */
  --offset: 0px;

  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--symW);
  height: calc(var(--symH) * 3); /* sadece 3 görünür */
  transform: translate(-50%, -50%);
  z-index: 2;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.symbol {
  position: absolute;
  width: var(--symW);
  height: var(--symH);
  left: 50%;
  transform: translateX(-50%);
  top: calc(var(--step) * var(--i) + var(--offset));
  user-select: none;
  pointer-events: none;
  backface-visibility: hidden;
  will-change: transform;
}